<div id="menu" class="ui-widget-content">
    <h1 class="ui-widget-header">
        <ul class="menubar">
            <li><a href="javascript:;">菜单</a> </li>
            <li><a href="javascript:;">工具</a></li>

        </ul>
    </h1>

    <ul class="menu">
        <li><a href="#"><span class="ui-icon ui-icon-disk"></span>Save</a></li>
        <li><a href="#"><span class="ui-icon ui-icon-zoomin"></span>Zoom In</a></li>
        <li><a href="#"><span class="ui-icon ui-icon-zoomout"></span>Zoom Out</a></li>
        <li class="ui-state-disabled"><a href="#"><span class="ui-icon ui-icon-print"></span>Print...</a></li>
        <li>
            <a href="#">Playback</a>
            <ul>
                <li><a href="#"><span class="ui-icon ui-icon-seek-start"></span>Prev</a></li>
                <li><a href="#"><span class="ui-icon ui-icon-stop"></span>Stop</a></li>
                <li><a href="#"><span class="ui-icon ui-icon-play"></span>Play</a></li>
                <li><a href="#"><span class="ui-icon ui-icon-seek-end"></span>Next</a></li>
            </ul>
        </li>
    </ul>
</div>
