
/*layout css*/
ul li{ list-style: none; display: inline}
div h1{
    background-color: #29B4F0;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: center;cursor: move;
}

#menu{
    height: 50px;
    clear: both;
    z-index: 999;
    position: relative;
}
#toolbar-left{
    width: 150px;
    height: 400px;
}
#workspace{
    width: 720px;
}
#my-image{
    width: 100%;
}
#toolbar-right{
    width: 80px;
    height: auto;
    clear: right;
}
#task{
    width: 100%;
    height: 80px;
}
#image{

}

/*widget*/
.menu{
    width: 150px;
}
.menubar{width: 150px}
#my-image:after{
    content: '拖拽一个图片到这里';
    top: 150px;
    z-index: 1;
    color: #ccc;
    display: block;
    font-size: 20px;
    position: absolute;
    width: 100%;
    letter-spacing: 1px;
}{}